/* 
    Created on : Oct 18, 2018, 7:04:46 PM
    Author     : Milad
*/

body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.fa-utensils{
    padding: 3px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid white;
}
